body {
    background-color: #fec5bb;
    margin: 0;
}

header {
    background-color: #f8edeb;
    width: 100%;
}

.container {
    width: 940px;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#title {
    font-size: 16pt;
    font-family: 'The Nautigal', cursive;
}

a {
    color: red;
}

section {
    width: 100%;
    padding: 20px;
    background-color: #ffffff70;
    border-radius: 2%;
}

footer {
    background-color: #ffffff;
    text-align: center;
}